# Inicios del ETL: importar + EDA a los datos + exportar

## Establecer el espacio de trabajo

In [8]:
# Untilizamos el módulo so del core de Python

import os

In [9]:
# ¿En qué directorio local me encuentro?

# Utilizamos la función .getcwd() para saberlo

cwd = os.getcwd()
# cwd

# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Formación Python\2. El ETL y el EDA a la esturctura de datos

In [10]:
# Para cambiar al directorio en el que deseo trabajar

path = 'C:\\Users\\oscar\\Desktop\\GitHub\\Python\\Formación Python\\2. El ETL y el EDA a la esturctura de datos'

# Usamos la función .chdir para establecer mi directorio de trabajo
os.chdir(path)

# Let's check the new directory 

print("Current working directory: {0}".format(os.getcwd()))

Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Formación Python\2. El ETL y el EDA a la esturctura de datos

## Extraer información desde Python

### Archivos de datos

In [11]:
## Llamamos a la librería pandas y la nombramos pd

import pandas as pd

Vamos a utilizar la función read_excel

¿Qué contiene esta función como paramétros?

https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html:

pandas.read_excel(io, sheet_name=0, *, header=0, names=None, index_col=None, usecols=None, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, parse_dates=False, date_parser=_NoDefault.no_default, date_format=None, thousands=None, decimal='.', comment=None, skipfooter=0, storage_options=None, dtype_backend=_NoDefault.no_default)[source]

Vamos a utilizar solo los primeros dos argumentos:

- El nombre del archivo.extensión
- La hoja de los datos

In [12]:
# Datos 1

employee = pd.read_excel('testData.xlsx', sheet_name= 'employee')

# Datos 2

workday = pd.read_excel('testData.xlsx', sheet_name= 'workday')

¿Dónde puedo ver lo que descargué, el contenido, y otros dedatellas?

Pueden:

- En el menú de arriba, precionar "Variables"
- En la barra de abajo, precionar "Jupyter"

### Archivos de datos en la web

Veamos como extraer información de la web

In [ ]:
################
# Libraries    #
################

import pandas as pd   # ---> ya está en memoría, pero de nuevo utilizamos Pandas

In [15]:
###############################################
# Example 1: Highest Grossing Movies          #
###############################################

highest_grossing_movies = pd.read_html('https://en.wikipedia.org/wiki/List_of_highest-grossing_films')
#type(highest_grossing_movies)
#print(highest_grossing_movies)

#len(highest_grossing_movies)

# Practically all the information on the website.

###############################################
# Extract the información from some tables    #
###############################################

highest_grossing_movies[0]
#highest_grossing_movies[1]
#highest_grossing_movies[3]
#highest_grossing_movies[4]

,Rank,Peak,Title,Worldwide gross,Year,Reference(s)
0,1,1,Avatar,"$2,923,706,026",2009,[# 1][# 2]
1,2,1,Avengers: Endgame,"$2,797,501,328",2019,[# 3][# 4]
2,3,3,Avatar: The Way of Water,"$2,319,331,934",2022,[# 5]
3,4,1,Titanic,"T$2,257,678,688",1997,[# 6][# 7]
4,5,3,Star Wars: The Force Awakens,"$2,068,223,624",2015,[# 8][# 9]
5,6,4,Avengers: Infinity War,"$2,048,359,754",2018,[# 10][# 11]
6,7,6,Spider-Man: No Way Home,"$1,921,847,111",2021,[# 12][# 13]
7,8,3,Jurassic World,"$1,671,537,444",2015,[# 14][# 15]
8,9,7,The Lion King,"$1,656,943,394",2019,[# 16][# 4]
9,10,3,The Avengers,"$1,518,815,515",2012,[# 17][# 18]
10,11,4,Furious 7,"$1,515,341,399",2015,[# 19][# 20]
11,12,11,Top Gun: Maverick,"$1,493,491,858",2022,[# 21][# 22]
12,13,10,Frozen II,"$1,450,026,933",2019,[# 23][# 24]
13,14,5,Avengers: Age of Ultron,"$1,402,809,540",2015,[# 25][# 20]
14,15,9,Black Panther,"$1,347,280,838",2018,[# 26][# 27]
15,16,3,Harry Potter and the Deathly Hallows – Part 2,"$1,342,139,727",2011,[# 28][# 29]
16,17,9,Star Wars: The Last Jedi,"$1,332,539,889",2017,[# 30][# 31]
17,18,12,Jurassic World: Fallen Kingdom,"$1,308,473,425",2018,[# 32][# 11]
18,19,5,Frozen,"F$1,290,000,000",2013,[# 33][# 34]
19,20,10,Beauty and the Beast,"$1,263,521,126",2017,[# 35][# 36]
20,21,15,Incredibles 2,"$1,242,805,359",2018,[# 37][# 11]
21,22,11,The Fate of the Furious,"F8$1,238,764,765",2017,[# 38][# 36]
22,23,5,Iron Man 3,"$1,214,811,252",2013,[# 39][# 40]
23,24,10,Minions,"$1,159,444,662",2015,[# 41][# 15]
24,25,12,Captain America: Civil War,"$1,153,337,496",2016,[# 42][# 43]
25,26,20,Aquaman,"$1,148,528,393",2018,[# 44][# 11]
26,27,2,The Lord of the Rings: The Return of the King,"$1,147,633,833",2003,[# 45][# 46]
27,28,24RK,Spider-Man: Far From Home,"$1,131,927,996",2019,[# 47][# 4]
28,29,23RK,Captain Marvel,"$1,128,274,794",2019,[# 48][# 49]
29,30,5RK,Transformers: Dark of the Moon,"$1,123,794,079",2011,[# 50][# 29]
30,31,7,Skyfall,"$1,108,569,499",2012,[# 51][# 52]
31,32,10,Transformers: Age of Extinction,"$1,104,054,072",2014,[# 53][# 54]
32,33,7,The Dark Knight Rises,"$1,081,169,825",2012,[# 55][# 56]
33,34,31,Joker,"$1,074,458,282",2019,[# 57][# 24]
34,35,32,Star Wars: The Rise of Skywalker,"$1,074,144,248",2019,[# 58][# 24]
35,36,30,Toy Story 4,"$1,073,394,593",2019,[# 59][# 4]
36,37,4TS3,Toy Story 3,"$1,066,970,811",2010,[# 60][# 61]
37,38,3,Pirates of the Caribbean: Dead Man's Chest,"$1,066,179,747",2006,[# 62][# 63]
38,39,20,Rogue One: A Star Wars Story,"$1,057,420,387",2016,[# 64][# 65]
39,40,34,Aladdin,"$1,050,693,953",2019,[# 66][# 4]
40,41,41,The Super Mario Bros. Movie,"$1,045,882,878",2023,[# 67][# 68]
41,42,6,Pirates of the Caribbean: On Stranger Tides,"$1,045,713,802",2011,[# 69][# 61]
42,43,24,Despicable Me 3,"$1,034,800,131",2017,[# 70][# 36]
43,44,1,Jurassic Park,"$1,034,199,003",1993,[# 71][# 72]
44,45,22,Finding Dory,"$1,028,570,942",2016,[# 73][# 74]
45,46,2,Star Wars: Episode I – The Phantom Menace,"$1,027,082,707",1999,[# 75][# 7]
46,47,5,Alice in Wonderland,"$1,025,468,216",2010,[# 76][# 77]
47,48,24,Zootopia,"$1,023,784,195",2016,[# 78][# 43]
48,49,14,The Hobbit: An Unexpected Journey,"$1,017,030,651",2012,[# 79][# 80]
49,50,2,Harry Potter and the Philosopher's Stone,"HP1$1,009,046,830",2001,[# 81][# 82]

A veces, se debe recurrir a otros métodos y  librerías para obtener lo deseado... 

Se analiza el siguiente caso

In [16]:
########################################################
# Example 2: fastestlaps.com/tracks/le-mans-bugatti    #
########################################################

fastestlaps_bugatti = pd.read_html('https://fastestlaps.com/tracks/le-mans-bugatti')
len(fastestlaps_bugatti)
print(fastestlaps_bugatti[0].head(15))



screener = pd.read_html('https://coindar.org/en/coins/')

    Rank               Vehicle             Driver     Time PS / KG
0    1.0           Ducati GP22  Francesco Bagnaia  1:30.45   - / -
1    2.0           Ducati GP22        Jack Miller  1:30.52   - / -
2    3.0  Aprilia RS-GP (2022)    Aleix Espargaró  1:30.61   - / -
3    4.0  Yamaha YZR-M1 (2022)   Fabio Quartararo  1:30.69   - / -
4    5.0           Ducati GP21    Enea Bastianini  1:30.71   - / -
5    6.0           Ducati GP22       Johann Zarco  1:30.86   - / -
6    7.0           Ducati GP21    Marco Bezzecchi  1:30.94   - / -
7    8.0  Suzuki GSX-RR (2022)           Joan Mir  1:30.94   - / -
8    9.0  Suzuki GSX-RR (2022)          Alex Rins  1:30.98   - / -
9   10.0           Ducati GP22       Jorge Martín  1:31.07   - / -
10  11.0   Honda RC213V (2022)       Marc Márquez  1:31.15   - / -
11  12.0  Yamaha YZR-M1 (2016)       Johann Zarco  1:31.18   - / -
12  13.0  Aprilia RS-GP (2022)   Maverick Viñales  1:31.27   - / -
13  14.0   Honda RC213V (2018)       Marc Marquez  1:31.29   - / -
14  15.0  Yamaha YZR-M1 (2020)   Fabio Quartararo  1:31.31   - / -

HTTPError: HTTP Error 403: Forbidden

### Datos en un bases de datos en un servidor 

A veces la información está muy, muuuuuuuuy bien asegurada, y está en la nube, protegida, y además almacenada en bases de datos

In [ ]:
# Librerías

import pymssql
import pandas as pd

# Primero la conexción ---> el acceso a los datos

#serverER = 'ec2-54-162-49-113.compute-1.amazonaws.com'
#databaseER = 'EnchantedRock-SandBox'
#usernameER = 'erock_reader'
#passwordER = 'Erock_rdr7#'

# conn = pymssql.connect(server=serverER, database=databaseER, user=usernameER, password=passwordER)
# conn

In [ ]:
# Ahora, a por los datos!!!

#df = pd.read_sql("select * from [EnchantedRock-SandBox].[dbo].[VTSCADA_API_15min_TMG_Site_Load] where tag like '%HEB00687%' order by timestamp_datetime_UTC_15 DESC", con=conn)
#df

## EDA o inspección a los datos

Importadas las estructura de datos, conviene hacer ciertas insepecciones a los datos, estas suelen ser generales y específicas

### Inspecciones Macro (generales)

#### Se puede inspeccionar a nivel de 

- La estructura del archivo
- Las primeras *k* filas o las últilas *r* filas
- La dimensión [k,n]
- El número de filas
- El numero de columnas
- Las variables

In [17]:
### La estructura de los datos 

# Opción 1

employee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   employee_id            37 non-null     int64
 1   transport_expense      37 non-null     int64
 2   distance               37 non-null     int64
 3   age                    37 non-null     int64
 4   education              37 non-null     int64
 5   sons                   37 non-null     int64
 6   pet                    37 non-null     int64
 7   gender                 37 non-null     object
 8   disciplinary_faults    37 non-null     int64
 9   transportation_method  37 non-null     object
dtypes: int64(8), object(2)
memory usage: 3.0+ KB

In [ ]:
# Opción 2

employee.dtypes

In [ ]:
# Opción 3

employee.axes

In [ ]:
### Las primeras *k* filas o las últilas *r* filas

# Primeras k filas 

employee.head() # podría ser head(10) o head(20)

In [ ]:
# Últimas k columnas 

employee.tail() # podría ser tail(10) o tail(20)

In [ ]:
### La dimensión [k,n] del dataframe 

employee.shape

In [ ]:
### El número de filas

# Opción 1 ---> ver el Stop

employee.index

In [ ]:
# Opción 2  --> función len() 

len(employee)

In [ ]:
# Opción 3 --> .shape[0]

employee.shape[0]

In [ ]:
# Opción 4

# employee.count()

employee.count()[0]

In [ ]:
### El número de columnas

# Opción 1

len(employee.columns)

In [ ]:
# Opción 2

employee.shape[1]

In [ ]:
### Las variables o columnas

# Opción 1

employee.columns

In [ ]:
# Opción 2

employee.info()

In [ ]:
# Opción 3

employee.dtypes

### Inspecciones Micro (específicas)

#### Pero también nos interesará hacer una inspección más detallada como saber el tipo de archivo, el tipo de las varibles, verlas de la columna tal a tal, y solo ciertas variables, o una única variables y columna.

El tipo de archivo en el data frame
El tipo de archivo para cada variable
Unas estadísticas generales
Info en Filas
Info en Columnas : por nombre y por ubicación
Lectura de casillas

In [18]:
### El tipo de archivo en el data frame

# Utilizar la opción type() ---> es del entorno general de Python, 

type(employee)

pandas.core.frame.DataFrame

In [ ]:
### El tipo de archivo para cada variable

# Opción 1

employee.dtypes

In [ ]:
# Opción 2

employee.info()

In [19]:
# Opción 3

employee.age    # al final aparece que es de tipo int64

0     37
1     48
2     38
3     40
4     43
5     33
6     39
7     39
8     58
9     28
10    33
11    31
12    31
13    34
14    40
15    46
16    40
17    28
18    32
19    36
20    33
21    30
22    36
23    41
24    32
25    43
26    27
27    28
28    28
29    41
30    29
31    50
32    49
33    47
34    37
35    53
36    50
Name: age, dtype: int64

In [20]:
# Opción 4

employee['age'].dtypes

dtype('int64')

In [ ]:
### Unas estadísticas generales

# Opción 1, mediante la función .describre()

employee.describe().round()   # use round

In [21]:
# Opción 2 ---> include = "all"

employee.describe(include='all').round().transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
employee_id,37.0,NaN,NaN,NaN,19.0,11.0,1.0,10.0,19.0,28.0,36.0
transport_expense,37.0,NaN,NaN,NaN,237.0,73.0,118.0,179.0,235.0,289.0,388.0
distance,37.0,NaN,NaN,NaN,27.0,14.0,5.0,15.0,26.0,36.0,52.0
age,37.0,NaN,NaN,NaN,38.0,8.0,27.0,32.0,37.0,43.0,58.0
education,37.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,4.0
sons,37.0,NaN,NaN,NaN,1.0,1.0,0.0,0.0,1.0,2.0,4.0
pet,37.0,NaN,NaN,NaN,1.0,2.0,0.0,0.0,0.0,2.0,8.0
gender,37,2,F,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN
disciplinary_faults,37.0,NaN,NaN,NaN,2.0,2.0,0.0,1.0,2.0,4.0,5.0
transportation_method,37,5,public_transportation,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
### Info de las filas

# Opción 1, la función  head()

employee.head(10)

In [ ]:
# Opción 2, la función tail()

employee.tail(8)

In [ ]:
# Opción 3, la función .iloc[]

# employee.iloc[3]  ----> puede ser una, varias con los ":"
employee.iloc[3:6]

In [ ]:
### Info de columnas : por nombre y por ubicación

# Opción 1  

employee.age

In [ ]:
# Opción 2  .loc por nombre
 
employee['age']

In [22]:
# Opción 3  .loc por nombre

employee.loc[:, ["distance","pet","education"]]

    distance  pet  education
0         11    1          3
1         29    5          1
2         51    0          1
3         14    8          1
4         20    0          1
5         29    2          1
6          5    0          1
7         35    2          1
8         14    1          1
9         52    4          1
10        36    1          1
11        51    8          2
12        17    0          1
13        12    0          1
14        31    1          1
15        15    0          1
16        22    0          2
17        16    0          2
18        50    0          1
19        50    0          1
20        11    0          2
21        26    0          3
22        49    4          1
23        25    0          1
24        16    0          3
25        26    1          1
26        42    0          1
27        26    2          1
28        26    2          1
29        15    2          4
30        27    0          1
31        15    0          1
32        48    2          1
33        25    1          1
34        10    0          1
35        45    1          1
36        13    0          1

In [23]:
# Opción 4  ----> .loc por nombre

employee.loc[:, 'distance':'gender']

    distance  age  education  sons  pet gender
0         11   37          3     1    1      F
1         29   48          1     1    5      M
2         51   38          1     0    0      M
3         14   40          1     1    8      F
4         20   43          1     1    0      M
5         29   33          1     2    2      F
6          5   39          1     2    0      F
7         35   39          1     2    2      M
8         14   58          1     2    1      M
9         52   28          1     1    4      M
10        36   33          1     2    1      M
11        51   31          2     1    8      F
12        17   31          1     3    0      F
13        12   34          1     0    0      F
14        31   40          1     1    1      F
15        15   46          1     2    0      F
16        22   40          2     2    0      F
17        16   28          2     0    0      F
18        50   32          1     0    0      F
19        50   36          1     4    0      F
20        11   33          2     0    0      M
21        26   30          3     0    0      F
22        49   36          1     2    4      F
23        25   41          1     0    0      M
24        16   32          3     0    0      M
25        26   43          1     2    1      M
26        42   27          1     0    0      M
27        26   28          1     1    2      M
28        26   28          1     1    2      F
29        15   41          4     2    2      M
30        27   29          1     0    0      F
31        15   50          1     0    0      M
32        48   49          1     0    2      F
33        25   47          1     2    1      F
34        10   37          1     0    0      F
35        45   53          1     1    1      F
36        13   50          1     1    0      F

In [ ]:
### Lectura de casillas

# Opción 1 ----> el  .loc 

employee.loc[3,'age']

In [ ]:
# Opción 2 ---> el .iloc

employee.iloc[3,3]

## Estructuras de un archivo de datos

### Estructura con un índice consecutivo

In [24]:
employee.head(20)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method
0,1,235,11,37,3,1,1,F,3,public_transportation
1,2,235,29,48,1,1,5,M,4,public_transportation
2,3,179,51,38,1,0,0,M,5,bicycle
3,4,118,14,40,1,1,8,F,0,public_transportation
4,5,235,20,43,1,1,0,M,1,bicycle
5,6,189,29,33,1,2,2,F,1,public_transportation
6,7,279,5,39,1,2,0,F,1,public_transportation
7,8,231,35,39,1,2,2,M,3,public_transportation
8,9,228,14,58,1,2,1,M,3,public_transportation
9,10,361,52,28,1,1,4,M,0,bicycle
10,11,289,36,33,1,2,1,M,2,bicycle
11,12,233,51,31,2,1,8,F,2,bicycle
12,13,369,17,31,1,3,0,F,5,public_transportation
13,14,155,12,34,1,0,0,F,2,bicycle
14,15,291,31,40,1,1,1,F,5,public_transportation
15,16,118,15,46,1,2,0,F,4,public_transportation
16,17,179,22,40,2,2,0,F,1,public_transportation
17,18,330,16,28,2,0,0,F,0,bike
18,19,291,50,32,1,0,0,F,5,public_transportation
19,20,260,50,36,1,4,0,F,5,public_transportation

### Estructura con variable caracter como índice

In [25]:
import pandas as pd

marcas = ['Toyota', 'Ford', 'Chevrolet', 'Nissan', 'Honda', 'Mazda', 'Volkswagen', 'BMW', 'Mercedes-Benz', 'Audi']
datos = {
    'precio': [15000, 20000, 18000, 16000, 17000, 19000, 22000, 25000, 28000, 30000],
    'año': [2010, 2012, 2015, 2011, 2013, 2016, 2018, 2019, 2020, 2022],
    'modelo': ['Corolla', 'Mustang', 'Camaro', 'Sentra', 'Civic', '3', 'Jetta', 'X5', 'GLA', 'A4'],
    'color': ['rojo', 'azul', 'negro', 'blanco', 'gris', 'plata', 'verde', 'gris', 'blanco', 'negro'],
    'kilometraje': [100000, 80000, 90000, 120000, 110000, 70000, 50000, 40000, 20000, 10000]
}
df = pd.DataFrame(datos, index=marcas)
df

               precio   año   modelo   color  kilometraje
Toyota          15000  2010  Corolla    rojo       100000
Ford            20000  2012  Mustang    azul        80000
Chevrolet       18000  2015   Camaro   negro        90000
Nissan          16000  2011   Sentra  blanco       120000
Honda           17000  2013    Civic    gris       110000
Mazda           19000  2016        3   plata        70000
Volkswagen      22000  2018    Jetta   verde        50000
BMW             25000  2019       X5    gris        40000
Mercedes-Benz   28000  2020      GLA  blanco        20000
Audi            30000  2022       A4   negro        10000

### Estructura de datos temporales

In [26]:
import pandas as pd
import numpy as np

fechas = pd.date_range(start='2023-05-01', end='2023-05-20')
temperatura = pd.Series(np.random.randn(20) * 10 + 25, index=fechas, name='temperatura')
presion = pd.Series(np.random.randint(800, 1200, size=20), index=fechas, name='presion')
df = pd.concat([temperatura, presion], axis=1)
df

            temperatura  presion
2023-05-01    19.595877      959
2023-05-02    19.793726      923
2023-05-03    20.763653     1076
2023-05-04    10.573487      811
2023-05-05    40.058286     1072
2023-05-06    25.813368      919
2023-05-07    19.974209      849
2023-05-08    26.464952     1195
2023-05-09    18.078657     1113
2023-05-10    32.101991     1130
2023-05-11    24.230041     1041
2023-05-12    21.750820      826
2023-05-13    16.679889      945
2023-05-14    21.655117     1118
2023-05-15    14.184353     1148
2023-05-16    28.681577     1043
2023-05-17    23.261259      917
2023-05-18    26.647663     1102
2023-05-19    18.722810      831
2023-05-20    28.734099     1022