In [2]:
import pandas as pd

In [4]:
# Caso 1

datos_num = [[1, 2, 3],
             [4, 5, 6],
             [7, 8, 9],
             [10, 11, 12],
             [13, 14, 15],
             [16, 17, 18],
             [19, 20, 21],
             [22, 23, 24],
             [25, 26, 27],
             [28, 29, 30]]

df_num = pd.DataFrame(datos_num, index=range(10))
df_num

    0   1   2
0   1   2   3
1   4   5   6
2   7   8   9
3  10  11  12
4  13  14  15
5  16  17  18
6  19  20  21
7  22  23  24
8  25  26  27
9  28  29  30

In [6]:
# Caso 2

datos_nombres = {'edad': [30, 25, 35, 40, 28, 22, 33, 36, 42, 27],
                 'altura': [1.70, 1.60, 1.75, 1.80, 1.68, 1.75, 1.73, 1.78, 1.82, 1.65],
                 'peso': [65, 55, 75, 85, 60, 70, 72, 80, 90, 58]}

df_nombres = pd.DataFrame(datos_nombres, index=['Ana', 'Juan', 'Luis', 'María', 'Pablo', 
                                                'Sara', 'Pedro', 'Lucía', 'Jorge', 'Laura'])
df_nombres

       edad  altura  peso
Ana      30    1.70    65
Juan     25    1.60    55
Luis     35    1.75    75
María    40    1.80    85
Pablo    28    1.68    60
Sara     22    1.75    70
Pedro    33    1.73    72
Lucía    36    1.78    80
Jorge    42    1.82    90
Laura    27    1.65    58

In [8]:
# Caso 3

import pandas as pd
import numpy as np

# Generamos las fechas correspondientes a los 60 días
fechas = pd.date_range(start='2023-01-01', end='2023-02-28')

# Generamos los valores aleatorios para cada día
valores = np.random.rand(len(fechas))

# Creamos el dataframe
df = pd.DataFrame({'Watts': valores}, index=fechas)
df

               Watts
2023-01-01  0.627608
2023-01-02  0.686229
2023-01-03  0.457322
2023-01-04  0.628277
2023-01-05  0.538076
2023-01-06  0.197789
2023-01-07  0.902982
2023-01-08  0.633017
2023-01-09  0.219389
2023-01-10  0.561675
2023-01-11  0.814992
2023-01-12  0.337404
2023-01-13  0.018752
2023-01-14  0.723239
2023-01-15  0.726089
2023-01-16  0.746978
2023-01-17  0.199855
2023-01-18  0.027805
2023-01-19  0.350790
2023-01-20  0.796887
2023-01-21  0.219842
2023-01-22  0.690391
2023-01-23  0.319649
2023-01-24  0.680025
2023-01-25  0.371444
2023-01-26  0.740522
2023-01-27  0.245753
2023-01-28  0.226656
2023-01-29  0.575901
2023-01-30  0.887830
2023-01-31  0.928650
2023-02-01  0.243415
2023-02-02  0.992999
2023-02-03  0.718486
2023-02-04  0.597798
2023-02-05  0.845353
2023-02-06  0.272245
2023-02-07  0.261327
2023-02-08  0.644492
2023-02-09  0.209883
2023-02-10  0.714745
2023-02-11  0.272211
2023-02-12  0.471596
2023-02-13  0.268972
2023-02-14  0.875941
2023-02-15  0.123831
2023-02-16  0.885886
2023-02-17  0.856063
2023-02-18  0.763615
2023-02-19  0.727172
2023-02-20  0.541345
2023-02-21  0.881487
2023-02-22  0.055953
2023-02-23  0.219650
2023-02-24  0.631217
2023-02-25  0.414965
2023-02-26  0.527620
2023-02-27  0.623498
2023-02-28  0.519164