# La carga con Python

In [6]:
# Librerías

import random
import numpy as np
import pandas as pd
import os

import pandas as pd
from sqlalchemy import create_engine
from azure.storage.filedatalake import DataLakeServiceClient

In [5]:
# Simulando un set de datos



# Crear datos de ejemplo
data_numerica = np.random.randint(0,100,size=(50, 3)) # datos numéricos aleatorios
data_string = np.random.choice(['A', 'B', 'C', 'D', 'E'], size=(50, 3)) # datos string aleatorios

# Combina los datos numéricos y string
data = np.hstack((data_numerica, data_string))

# Crear DataFrame
df = pd.DataFrame(data, columns=['Num1', 'Num2', 'Num3', 'Str1', 'Str2', 'Str3'])
# df.head(5)

  Num1 Num2 Num3 Str1 Str2 Str3
0   70   73   84    B    B    D
1   95   53   62    B    B    C
2   18    0   44    A    B    A
3   16   71   19    A    D    D
4   76   36   71    D    E    D

## Exportando los datos otro entorno de trabajo

In [14]:
### Poner el directorio actual

current_working_directory = os.getcwd()
current_working_directory

'c:\\Users\\oscar\\Desktop\\GitHub\\Python\\Formación Python\\5. Loading o la Carga\\Exportar'

In [17]:
### Exportar al nuevo espacio de trabajo

# Cambia el directorio de trabajo
os.chdir("c:\\Users\\oscar\\Desktop\\GitHub\\Python\\Formación Python\\5. Loading o la Carga\\Exportar")
os.getcwd()

'c:\\Users\\oscar\\Desktop\\GitHub\\Python\\Formación Python\\5. Loading o la Carga\\Exportar'

In [18]:
df.to_excel('datos.xlsx', index=False)

## Exportar datos a partir de un Administrador de Bases de Datos como My SQL

In [ ]:
# Primero es crear la conexión desde VSC o Anaconda al engine de MySQL

engine = create_engine('mysql+mysqlconnector://usuario:contraseña@localhost:puerto/mi_base_de_datos')

In [ ]:
# Finalmente, utilizar la función to_sql() para exportar el DataFrame a la base de datos MySQL. Deberás reemplazar 'mi_tabla' con el nombre de la tabla de destino en la base de datos:

df.to_sql('TABLA', con=engine, if_exists='replace', index=False)

## Exportar datos a partir de un Administrador de Bases de Datos como Postgres

In [ ]:
# Primero es crear la conexión desde VSC o Anaconda al engine de Postgres

engine = create_engine('postgresql://usuario:contraseña@localhost:puerto/mi_base_de_datos')

In [ ]:
# Finalmente, puedes utilizar la función to_sql() para exportar el DataFrame a la base de datos PostgreSQL. 
# Deberás reemplazar 'mi_tabla' con el nombre de la tabla de destino en la base de datos:

df.to_sql('mi_tabla', con=engine, if_exists='replace', index=False)

## Exportar un DataFrame desde VSC en Python a Databrics

In [ ]:
# Crea una conexión al servicio de Azure Data Lake. Necesitarás reemplazar 'my-account-url' y 'my-account-key' con la URL de tu cuenta y la clave de tu cuenta de Azure Data Lake Storage, respectivamente:service = DataLakeServiceClient(account_url='my-account-url', credential='my-account-key')

service = DataLakeServiceClient(account_url='my-account-url', credential='my-account-key')

In [ ]:
# A continuación, selecciona el sistema de archivos y el nombre del archivo de destino:

filesystem = service.get_file_system_client(file_system="myfilesystem")
file_client = filesystem.get_file_client("mypath/myfile.csv")

In [ ]:
# Finalmente, exporta el DataFrame a un archivo CSV en Azure Data Lake:

file_client.upload_data(df.to_csv(index=False), overwrite=True)