# Creación de nuevas variables en un dataframe

## 1. Crear variables a partir de otra con opreaciones (mutate)

https://sparkbyexamples.com/pandas/pandas-add-column-to-dataframe/
https://pandas.pydata.org/docs/getting_started/intro_tutorials/05_add_columns.html

## 2. Reescribir una muisma variable (transmutate)

https://sparkbyexamples.com/pandas/pandas-add-column-to-dataframe/


## 3. Crear variables a partir de condiciones, van cuanti

https://www.geeksforgeeks.org/python-creating-a-pandas-dataframe-column-based-on-a-given-condition/
https://datascienceparichay.com/article/pandas-create-column-based-on-condition/

## 4. Crear variables a partir de condiciones, van cuali

https://www.geeksforgeeks.org/python-creating-a-pandas-dataframe-column-based-on-a-given-condition/
https://datascienceparichay.com/article/pandas-create-column-based-on-condition/


## 5.  Crear variables a partir de rangos 

https://www.projectpro.io/recipes/insert-new-column-based-on-condition-in-python

In [1]:
# Importar los datos

import os
cwd = os.getcwd()
cwd
# Print the current working directory
print("Current working directory: {0}".format(cwd))


path = 'C:\\Users\\oscar\\Desktop\\GitHub\\Python\\Jupyter Notebook\\Data Manipulation\\Crear variables - nuevas columnas'
# Change the current working directory
os.chdir(path)
# Let's check the new directory 
print("Current working directory: {0}".format(os.getcwd()))

import pandas as pd

employee = pd.read_excel('testData.xlsx', sheet_name= 'employee')

employee.head(3)

Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Jupyter Notebook\Data Manipulation\Crear variables - nuevas columnas
Current working directory: c:\Users\oscar\Desktop\GitHub\Python\Jupyter Notebook\Data Manipulation\Crear variables - nuevas columnas

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method
0,1,235,11,37,3,1,1,F,3,public_transportation
1,2,235,29,48,1,1,5,M,4,public_transportation
2,3,179,51,38,1,0,0,M,5,bicycle

In [2]:
import numpy as np
import pandas as pd

# create a dataframe
df = pd.DataFrame({
    'Name': ['Siraj', 'Emma', 'Alex', 'Maya', 'Lupin'],
    'Age': [23, 17, 16, 26, 21]
})
# display the dataframe
print(df)

    Name  Age
0  Siraj   23
1   Emma   17
2   Alex   16
3   Maya   26
4  Lupin   21

## 1. Crear variables a partir de otra con opreaciones

In [3]:
# Opción 1: To create a new column, use the [] brackets with the new column name at the left side of the assignment.
# Vamos a crear transport_dollar =  transport_expense/ 100 


employee['transport_dollar'] = employee['transport_expense']/100
employee.head(5)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar
0,1,235,11,37,3,1,1,F,3,public_transportation,2.35
1,2,235,29,48,1,1,5,M,4,public_transportation,2.35
2,3,179,51,38,1,0,0,M,5,bicycle,1.79
3,4,118,14,40,1,1,8,F,0,public_transportation,1.18
4,5,235,20,43,1,1,0,M,1,bicycle,2.35

In [9]:
# Otro caso de razón : new_var = edad*distance

employee['new_var'] = employee['age']*employee['distance']
employee.head(2)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1,new_var
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407,407
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392,1392

In [10]:
# El uso del Assign
# Vamos agragar constantentes

employee = employee.assign(A=1,B=2,C=3) 
employee.head(3)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1,new_var,A,B,C
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407,407,1,2,3
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392,1392,1,2,3
2,3,1790,51,38,1,0,0,M,5,bicycle,1.79,1938,1938,1,2,3

In [11]:
# Mediante el assign, crear un variable a partir de otra.

employee = employee.assign(Calculo1=lambda Cal1: employee.age * employee.distance) 
employee.head(3)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1,new_var,A,B,C
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407,407,1,2,3
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392,1392,1,2,3
2,3,1790,51,38,1,0,0,M,5,bicycle,1.79,1938,1938,1,2,3

In [12]:
# Crear más de dos o tres variables en un nuevo DataFrame

employee = employee.assign(Calculo2=lambda Cal1: employee.Const_1 * employee.Const_2,
                           Calculo3=lambda Cal1: employee.Const_1 * employee.Const_3,
                           Calculo4=lambda Cal1: employee.education * employee.age) 
employee.head(3)

AttributeError: 'DataFrame' object has no attribute 'Const_1'

## 2. Reescribir una muisma variable (transmutate)

In [6]:
## 2. Reescribir una muisma variable usando los df[]= df[]"cambios"

employee2 = employee

employee2['transport_expense', 'var, var3'] =  employee2['transport_expense'] *10         # ----> cuidado con compilarlo varias veces, porque se modifica el archivo de datos.
employee2.head(3)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392
2,3,1790,51,38,1,0,0,M,5,bicycle,1.79,1938

In [7]:
## Reescribir varias a la vez usando el .assign 

employee4 = employee.assign(Calculo2=lambda Cal1: employee.Calculo1/2,
) 
employee4.head(3)

AttributeError: 'DataFrame' object has no attribute 'Calculo2'

In [ ]:
## Reescribir varias a la vez usando el .assign 


employee4 = employee.assign(transport_expense=lambda Cal1: employee.transport_expense/1000,
                            distance= lambda Cal1: employee.distance*100
) 
employee4.head(3)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,...,A,B,C,Const_1,Const_2,Const_3,Calculo1,Calculo2,Calculo3,Calculo4
0,1,2350.0,1100,37,3,1,1,F,3,public_transportation,...,1,2,3,1,2,3,6,2,3,111
1,2,2350.0,2900,48,1,1,5,M,4,public_transportation,...,1,2,3,1,2,3,6,2,3,48
2,3,1790.0,5100,38,1,0,0,M,5,bicycle,...,1,2,3,1,2,3,6,2,3,38

## 3. Crear variables a partir de condiciones, var cuanti

In [13]:
employee3 = employee

employee['Indisi'] = np.where(employee['disciplinary_faults'] == 0, 'Bien portado', 'Un dolor')
employee.head(10)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1,new_var,A,B,C,Indisi
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407,407,1,2,3,Un dolor
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392,1392,1,2,3,Un dolor
2,3,1790,51,38,1,0,0,M,5,bicycle,1.79,1938,1938,1,2,3,Un dolor
3,4,1180,14,40,1,1,8,F,0,public_transportation,1.18,560,560,1,2,3,Bien portado
4,5,2350,20,43,1,1,0,M,1,bicycle,2.35,860,860,1,2,3,Un dolor
5,6,1890,29,33,1,2,2,F,1,public_transportation,1.89,957,957,1,2,3,Un dolor
6,7,2790,5,39,1,2,0,F,1,public_transportation,2.79,195,195,1,2,3,Un dolor
7,8,2310,35,39,1,2,2,M,3,public_transportation,2.31,1365,1365,1,2,3,Un dolor
8,9,2280,14,58,1,2,1,M,3,public_transportation,2.28,812,812,1,2,3,Un dolor
9,10,3610,52,28,1,1,4,M,0,bicycle,3.61,1456,1456,1,2,3,Bien portado

In [15]:
# Con el uso del DataFrame.map() function

# Create the dictionary
event_dictionary ={1 : ' Algo',
                   2 : 'Bastante',
                   3 : 'Pues si',
                   4 : 'CRACK'
                   }

employee['Nivel de Estudio'] = employee['education'].map(event_dictionary)
employee.head(10)

,employee_id,transport_expense,distance,age,education,sons,pet,gender,disciplinary_faults,transportation_method,transport_dollar,Calculo1,new_var,A,B,C,Indisi,Nivel de Estudio
0,1,2350,11,37,3,1,1,F,3,public_transportation,2.35,407,407,1,2,3,Un dolor,Pues si
1,2,2350,29,48,1,1,5,M,4,public_transportation,2.35,1392,1392,1,2,3,Un dolor,Algo
2,3,1790,51,38,1,0,0,M,5,bicycle,1.79,1938,1938,1,2,3,Un dolor,Algo
3,4,1180,14,40,1,1,8,F,0,public_transportation,1.18,560,560,1,2,3,Bien portado,Algo
4,5,2350,20,43,1,1,0,M,1,bicycle,2.35,860,860,1,2,3,Un dolor,Algo
5,6,1890,29,33,1,2,2,F,1,public_transportation,1.89,957,957,1,2,3,Un dolor,Algo
6,7,2790,5,39,1,2,0,F,1,public_transportation,2.79,195,195,1,2,3,Un dolor,Algo
7,8,2310,35,39,1,2,2,M,3,public_transportation,2.31,1365,1365,1,2,3,Un dolor,Algo
8,9,2280,14,58,1,2,1,M,3,public_transportation,2.28,812,812,1,2,3,Un dolor,Algo
9,10,3610,52,28,1,1,4,M,0,bicycle,3.61,1456,1456,1,2,3,Bien portado,Algo

## 4. Crear variables a partir de condiciones, var cuali

In [21]:
# importing pandas as pd
import pandas as pd
 
# Creating the dataframe
df = pd.DataFrame({'Date' : ['11/8/2011', '11/9/2011', '11/10/2011',
                                        '11/11/2011', '11/12/2011'],
                'Event' : ['Music', 'Poetry', 'Music', 'Comedy', 'Poetry']})
 
# Add a new column named 'Price'
#df['Price'] = [1500 if x =='Music' else 800 for x in df['Event']]
 
# Print the DataFrame
print(df)

         Date   Event
0   11/8/2011   Music
1   11/9/2011  Poetry
2  11/10/2011   Music
3  11/11/2011  Comedy
4  11/12/2011  Poetry

In [22]:
# Opción de un diccionario 

# Define a function to map the values
def set_value(row_number, assigned_value):
    return assigned_value[row_number]
 
# Create the dictionary
event_dictionary ={'Music' : 1500, 'Poetry' : 800, 'Comedy' : 1200}
 
# Add a new column named 'Price'
df['Price'] = df['Event'].apply(set_value, args =(event_dictionary, ))
 
# Print the DataFrame
print(df)

         Date   Event  Price
0   11/8/2011   Music   1500
1   11/9/2011  Poetry    800
2  11/10/2011   Music   1500
3  11/11/2011  Comedy   1200
4  11/12/2011  Poetry    800

In [ ]:
# Uso de un DataFrame.map()

# Create the dictionary
event_dictionary ={'Music' : 1500, 'Poetry' : 800, 'Comedy' : 1200}
 
# Add a new column named 'Price'
df['Price'] = df['Event'].map(event_dictionary)
 
# Print the DataFrame
print(df)

In [ ]:
# uso del numpy.where() function

df['Price'] = np.where(df['Event']
                       =='Music', 1500,800 )
 
print(df)

## 5. Crear variables a partir de rangos 
## Using the if, elig and else

In [23]:
import pandas as pd
import numpy as np 
    
raw_data = {'bond_name': ['govt_bond_1', 'govt_bond_2', 'govt_bond_3', 'pvt_bond_1', 'pvt_bond_2', 'pvt_bond_3', 'pvt_bond_4'],
                'risk_score': [1.6, 0.9, 2.3, 3.0, 2.7, 1.8, 4.1]}

df = pd.DataFrame(raw_data, columns = ['bond_name', 'risk_score'])

df

     bond_name  risk_score
0  govt_bond_1         1.6
1  govt_bond_2         0.9
2  govt_bond_3         2.3
3   pvt_bond_1         3.0
4   pvt_bond_2         2.7
5   pvt_bond_3         1.8
6   pvt_bond_4         4.1

In [24]:
# So finally we are adding that list as a column in the dataset and printing the final dataset to see the changes.
rating = []
for row in df['risk_score']:
        if row   < 1.0 :    rating.append('AA')
        elif row < 2.0:   rating.append('A')
        elif row < 3.0:  rating.append('BB')
        elif row < 4.0:  rating.append('B')
        elif row < 5.0:  rating.append('C')
        
        else:           rating.append('Not_Rated')

In [25]:
# So finally we are adding that list as a column in the dataset and printing the final dataset to see the changes.

df['rating'] = rating
 
df

     bond_name  risk_score rating
0  govt_bond_1         1.6      A
1  govt_bond_2         0.9     AA
2  govt_bond_3         2.3     BB
3   pvt_bond_1         3.0      B
4   pvt_bond_2         2.7     BB
5   pvt_bond_3         1.8      A
6   pvt_bond_4         4.1      C

# Pandas Create Conditional Column in DataFrame 

https://sparkbyexamples.com/pandas/pandas-create-conditional-column-in-dataframe/

In [15]:
import pandas as pd
import numpy as np

technologies= {
    'Courses':["Spark","PySpark","Spark","Python","PySpark"],
    'Fee1'   :[22000,25000,23000,24000,26000],
    'Fee2'   :[12000,35000,53000,74000,96000],
    'Fee3'   :[82000,75000,63000,54000,36000],
    'Fee4'   :[77777,77777,77777,77777,77777],
    'Amount' :[1000,2000,3000,4000,5000], 
    'Duration':['30days','50days','30days', None,np.nan]
          }

df = pd.DataFrame(technologies)

df

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration
0    Spark  22000  12000  82000  77777    1000   30days
1  PySpark  25000  35000  75000  77777    2000   50days
2    Spark  23000  53000  63000  77777    3000   30days
3   Python  24000  74000  54000  77777    4000     None
4  PySpark  26000  96000  36000  77777    5000      NaN

In [16]:
import numpy as np
# Create conditional DataFrame column by np.where() function.
df['Discount'] = np.where(df['Fee1']<= 23000, 1000, 2000)
print(df)

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration  Discount
0    Spark  22000  12000  82000  77777    1000   30days      1000
1  PySpark  25000  35000  75000  77777    2000   50days      2000
2    Spark  23000  53000  63000  77777    3000   30days      1000
3   Python  24000  74000  54000  77777    4000     None      2000
4  PySpark  26000  96000  36000  77777    5000      NaN      2000

In [17]:
df['Discount'] = [1100 if x <= 23000 else 2500 for x in df['Fee1']]
print(df)

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration  Discount
0    Spark  22000  12000  82000  77777    1000   30days      1100
1  PySpark  25000  35000  75000  77777    2000   50days      2500
2    Spark  23000  53000  63000  77777    3000   30days      1100
3   Python  24000  74000  54000  77777    4000     None      2500
4  PySpark  26000  96000  36000  77777    5000      NaN      2500

In [18]:
conditions = [
    (df['Courses'] == 'Spark') & (df['Duration'] == '30days'),
    (df['Courses'] == 'Spark') & (df['Duration'] == '35days'),
    (df['Duration'] == '50days')]

choices = [1000, 1050,200]

df['Discount'] = np.select(conditions,choices, default=0)
print(df)

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration  Discount
0    Spark  22000  12000  82000  77777    1000   30days      1000
1  PySpark  25000  35000  75000  77777    2000   50days       200
2    Spark  23000  53000  63000  77777    3000   30days      1000
3   Python  24000  74000  54000  77777    4000     None         0
4  PySpark  26000  96000  36000  77777    5000      NaN         0

In [19]:
conditions = [
    (df['Amount'] >= 1) | (df['Amount'] <= 1000),
    (df['Amount'] <= 4000),
    (df['Amount'] >= 5000)]

choices = [df['Fee1'], df['Fee2'],df['Fee3']]

df['Discount'] = np.select(conditions,choices, default=0)
print(df)

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration  Discount
0    Spark  22000  12000  82000  77777    1000   30days     22000
1  PySpark  25000  35000  75000  77777    2000   50days     25000
2    Spark  23000  53000  63000  77777    3000   30days     23000
3   Python  24000  74000  54000  77777    4000     None     24000
4  PySpark  26000  96000  36000  77777    5000      NaN     26000

In [21]:
conditions = [
    (df['Amount'] == 1000) | (df['Amount'] == 5000)
    
    ]

choices = [df['Fee2']]

df['Discount2'] = np.select(conditions,choices, default=0)
print(df)

   Courses   Fee1   Fee2   Fee3   Fee4  Amount Duration  Discount  Discount2
0    Spark  22000  12000  82000  77777    1000   30days     22000      12000
1  PySpark  25000  35000  75000  77777    2000   50days     25000          0
2    Spark  23000  53000  63000  77777    3000   30days     23000          0
3   Python  24000  74000  54000  77777    4000     None     24000          0
4  PySpark  26000  96000  36000  77777    5000      NaN     26000      96000

In [29]:
# Using DataFrame.assign() method.
# Using DataFrame.assign() method.
def Courses_Discount(row):
    if row["Amount"] == 1000:
        return 1500
    elif row["Amount"] == 2000:
        return 1500
    elif row["Amount"] == 3000:
        return 1500
    else:
        return 2000
    
    
df = df.assign(Discount_45=df.apply(Courses_Discount, axis=1))
df

,Courses,Fee1,Fee2,Fee3,Fee4,Amount,Duration,Discount,Discount2,Discount_45
0,Spark,22000,12000,82000,77777,1000,30days,22000,12000,1500
1,PySpark,25000,35000,75000,77777,2000,50days,25000,0,1500
2,Spark,23000,53000,63000,77777,3000,30days,23000,0,1500
3,Python,24000,74000,54000,77777,4000,None,24000,0,2000
4,PySpark,26000,96000,36000,77777,5000,NaN,26000,96000,2000

In [28]:
# Using DataFrame.assign() method.
# Using DataFrame.assign() method.
def Courses_Discount(row):
    if row["Amount"] == 1000 | row["Amount"] == 2000 | row["Amount"] == 3000  :
        return 1500
    elif row["Amount"] == 2000:
        return 1500
    elif row["Amount"] == 3000:
        return 1500
    else:
        return 2000
    
    
df = df.assign(Discount_45=df.apply(Courses_Discount, axis=1))
df

,Courses,Fee1,Fee2,Fee3,Fee4,Amount,Duration,Discount,Discount2,Discount_45
0,Spark,22000,12000,82000,77777,1000,30days,22000,12000,2000
1,PySpark,25000,35000,75000,77777,2000,50days,25000,0,1500
2,Spark,23000,53000,63000,77777,3000,30days,23000,0,1500
3,Python,24000,74000,54000,77777,4000,None,24000,0,2000
4,PySpark,26000,96000,36000,77777,5000,NaN,26000,96000,2000

In [1]:
pip list

Package                      Version
---------------------------- -----------
absl-py                      1.4.0
alembic                      1.11.1
altair                       4.2.2
asttokens                    2.0.8
astunparse                   1.6.3
async-generator              1.10
attrs                        21.2.0
Automat                      22.10.0
azure-core                   1.26.2
azure-storage-blob           12.14.1
backcall                     0.2.0
beautifulsoup4               4.11.1
bleach                       6.0.0
bokeh                        2.4.3
bs4                          0.0.1
cached-property              1.5.2
cachetools                   5.3.1
certifi                      2021.10.8
cffi                         1.15.1
charset-normalizer           2.0.8
cmaes                        0.9.1
colorama                     0.4.5
colorlog                     6.7.0
colorlover                   0.3.0
constantly                   15.1.0
cryptography                 38.0.3
cssselect                    1.2.0
cufflinks                    0.17.3
cycler                       0.11.0
datar                        0.11.1
DateTime                     4.7
debugpy                      1.6.3
decorator                    5.1.1
diot                         0.1.6
entrypoints                  0.4
et-xmlfile                   1.1.0
exceptiongroup               1.0.4
executing                    1.1.1
fastjsonschema               2.16.3
filelock                     3.8.0
flatbuffers                  23.5.26
fonttools                    4.28.2
gast                         0.4.0
google-auth                  2.20.0
google-auth-oauthlib         1.0.0
google-pasta                 0.2.0
greenlet                     2.0.2
grpcio                       1.54.2
h11                          0.14.0
h5py                         3.8.0
hyperlink                    21.0.0
idna                         3.3
importlib-metadata           4.13.0
incremental                  22.10.0
inflection                   0.5.1
ipykernel                    6.16.0
ipython                      8.5.0
ipywidgets                   8.0.4
isodate                      0.6.0
itemadapter                  0.7.0
itemloaders                  1.0.6
jax                          0.4.12
jedi                         0.18.1
Jinja2                       3.1.2
jmespath                     1.0.1
joblib                       1.2.0
jsonschema                   4.17.3
jupyter_client               7.3.5
jupyter-core                 4.11.1
jupyterlab-widgets           3.0.5
keras                        2.12.0
kiwisolver                   1.3.2
libclang                     16.0.0
lightgbm                     3.3.5
lxml                         4.6.4
Mako                         1.2.4
Markdown                     3.4.1
MarkupSafe                   2.1.1
matplotlib                   3.5.0
matplotlib-inline            0.1.6
ml-dtypes                    0.2.0
msrest                       0.7.1
nbformat                     5.7.3
nest-asyncio                 1.5.6
numpy                        1.23.5
oauthlib                     3.2.2
openpyxl                     3.0.10
opt-einsum                   3.3.0
optuna                       3.1.1
outcome                      1.2.0
packaging                    21.3
pandas                       1.5.0
param                        1.13.0
parsel                       1.7.0
parso                        0.8.3
pickleshare                  0.7.5
Pillow                       8.4.0
pip                          23.1.2
pipda                        0.11.0
platformdirs                 2.4.0
plotly                       5.13.1
prompt-toolkit               3.0.31
Protego                      0.2.1
protobuf                     4.23.3
psutil                       5.9.2
pure-eval                    0.2.2
pyasn1                       0.4.8
pyasn1-modules               0.2.8
pycparser                    2.21
pyct                         0.5.0
PyDispatcher                 2.0.6
pygal                        3.0.0
Pygments                     2.13.0
pymssql                      2.2.7
pyodbc                       4.0.39
pyOpenSSL                    22.1.0
pyparsing                    3.0.6
pyrsistent                   0.19.3
PySocks                      1.7.1
python-dateutil              2.8.2
python-simpleconf            0.5.7
pytz                         2021.3
pyviz-comms                  2.2.1
pywin32                      304
PyYAML                       6.0
pyzmq                        24.0.1
queuelib                     1.6.2
requests                     2.26.0
requests-file                1.5.1
requests-oauthlib            1.3.1
requests-toolbelt            0.9.1
rsa                          4.9
rtoml                        0.8.0
scikit-learn                 1.1.2
scipy                        1.10.1
Scrapy                       2.7.1
seaborn                      0.12.1
selenium                     4.6.0
service-identity             21.1.0
session-info                 1.0.0
setuptools-scm               6.3.2
simplug                      0.2.2
six                          1.16.0
skforecast                   0.8.1
sniffio                      1.3.0
sortedcontainers             2.4.0
soupsieve                    2.3.2.post1
SQLAlchemy                   2.0.16
stack-data                   0.5.1
stdlib-list                  0.9.0
suds-py3                     1.4.5.0
tenacity                     8.2.2
tensorboard                  2.12.3
tensorboard-data-server      0.7.1
tensorflow-estimator         2.12.0
tensorflow-io-gcs-filesystem 0.31.0
termcolor                    2.3.0
threadpoolctl                3.1.0
tldextract                   3.4.0
tomli                        1.2.2
toolz                        0.12.0
tornado                      6.2
tqdm                         4.64.1
traitlets                    5.4.0
trio                         0.22.0
trio-websocket               0.9.2
Twisted                      22.10.0
twisted-iocpsupport          1.0.2
typing_extensions            4.4.0
urllib3                      1.26.7
vega-datasets                0.9.0
w3lib                        2.0.1
wcwidth                      0.2.5
webencodings                 0.5.1
Werkzeug                     2.3.6
wheel                        0.40.0
widgetsnbextension           4.0.5
wrapt                        1.14.1
wsproto                      1.2.0
zeep                         4.1.0
zipp                         3.11.0
zope.interface               5.5.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --update numpy

Note: you may need to restart the kernel to use updated packages.

Usage:
  C:\Users\oscar\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  C:\Users\oscar\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  C:\Users\oscar\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install [options] [-e] <vcs project url> ...
  C:\Users\oscar\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install [options] [-e] <local project path> ...
  C:\Users\oscar\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\python.exe -m pip install [options] <archive url/path> ...

no such option: --update